
footer {
  display: block;
  box-sizing: border-box;
  clear: both;

  margin-top: 1em;
  padding: 1.2em;
  background-color: var(--header-background-color);
  background-image: linear-gradient(
                    90deg,
                    var(--light-color),
                    var(--primary-color) );
  font-size: small;
}

/* Footer:
footer {
  height:
        5vh;

  margin: 1em 0 0;
  
}
*/

footer > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 8rem;
}
li.footer-menu {
  border: 1px pink dashed;
  float: left;
}
li.footer-menu li {
  padding-left: 1.5rem;
}
li.footer-menu li:first-child {
  padding-left: 0;
}
li.footer-menu a {
  display: block;
  padding: 0.3rem;
}
footer ul + small {
  clear:both;
}