main {
  margin: 0 2rem;
}
main h1 + p::first-letter {
  font-size: 200%;
}

/* Index page CSS Grid, for mobile or tablet */
#dino-index {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 1px;
  gap: 1px;
  margin: 0 auto 0 auto;
  padding: 0;
}
#attribution {
  font-style: italic;
  font-weight: 100;
  font-size: 0.9rem;
}

/* Index page CSS Grid, for desktop */
@media screen and (min-width: 1100px) {
  #dino-index {
    width: 70vw;
    float: left;
    grid-gap: 2px;
    gap: 2px;
    /* margin: 0 20vw 0 9vw; */
    /* margin-right: 2rem; */
  }
  #attribution {
    width: 20vw;
    margin-left: 1rem;
    float: left;
  }
}
#dino-index li { background-color: pink; }

#dino-index > li a {
  display:block;
}

/* Index page grid => Flexbox
#dino-index {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  padding: 0;
}
#dino-index li {
  background-color: pink;
  width: calc(25% - 10px);
  flex: 0 0 auto;
}
*/

/* Original styles for attribution sidebar:
@media screen and (min-width: 1000px) {
  #attribution {
    position: fixed;
    width: 13vw;
    right: 2vw;
    top: 40vh;
    margin-left: 1em;
    font-style: italic;
    font-weight: 100;
    font-size: 0.9rem;
  }
}
*/